*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
  :root{
    --darkestShade:#0d1117;
    --darkerShade:#161b22;
    --green:#A8E5A9;
    --yellow:#FBCC7C;
    --blue:#5B9CF8;
    --pink:#F264D4;
    --lightGreen:#80D1E4;
    --lightGrey:#87CBE2;
  }
  body{
    background: var(--darkestShade);
    color:#fffa;
  }
  /* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: var(--darkestShade);
}

/* Handle */
::-webkit-scrollbar-thumb {
background: var(--darkerShade);
border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: var(--green);
}

/* scrollbar for pre tags */
pre::-webkit-scrollbar {
height: 5px;
}


.form-control{
  background: var(--darkestShade);color:#fffa;
  border:none;
}
.form-control:active,.form-control:hover,.form-control:focus{
  background: var(--darkestShade);color:#fffa;
}

/* The progress container (grey background) */
.progress-container {
width: 100%;
height: 3px;
margin-top: 5px;
background: var(--darkerShade);
}

/* The progress bar (scroll indicator) */
.progress-bar {
height: 3px;
background: var(--green);
width: 0%;
}








